{%  extends 'adminBase.html.twig' %}
{% block title 'Idologis | Gestion des biens' %}

 {% block body %}
     {{ dump(count) }}
     <div class="container">
         <div class="row">
             <div class="col-xl-3 col-md-6 mb-4 mt-5">
                 <div class="card border-left-primary bg-info">
                     <div class="card-header">
                         <h5 class="text-center text-white">Bien total : <br><span class="mt-2">{{ count[0][1] }}</span> </h5>

                     </div>
                     <div class="card-bordy">
                     </div>
                 </div>
             </div>
             <div class="col-xl-3 col-md-6 mb-4 mt-5">
                 <div class="card border-left-primary bg-success">
                     <div class="card-header">
                         <h5 class="text-center text-white">Ventes : <br><span class="mt-2">{{ count[1][0][1] }}</span></h5>
                     </div>
                     <div class="card-bordy">
                     </div>
                 </div>
             </div>
             <div class="col-xl-3 col-md-6 mb-4 mt-5">
                 <div class="card border-left-primary bg-warning">
                     <div class="card-header">
                         <h5 class="text-center text-white">Locations : <br><span class="mt-2">{{ count[2][0][1] }}</span></h5>
                     </div>
                     <div class="card-bordy">
                     </div>
                 </div>
             </div>

             <div class="col-xl-3 col-md-6 mb-4 mt-5">
                 <div class="card border-left-primary bg-danger">
                     <div class="card-header">
                         <h5 class="text-center text-white">Biens vendu ou louer : <br><span class="mt-2">{{ count[3][0][1] }}</span></h5>
                     </div>
                     <div class="card-bordy">
                     </div>
                 </div>
             </div>
         </div>
     </div>
     <div class="container mt-4">
         <h1 class="text-dark">Gérer les biens</h1>
        {%  for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
             </div>
         {% endfor %}
         <table class="table table-striped">
             <div class="text-right mb-4">
                 <a href="{{ path('admin.property.new') }}" class="btn btn-primary"><i class="fas fa-plus-square"></i> Créer un nouveau bien</a>
             </div>
             <thead>
                <tr>
                    <th class="text-white">Nom</th>
                    <th class="text-white">Action</th>
                </tr>
             </thead>
             <tbody>
             {% for property in properties %}
                <tr>
                    <td>{{ property.name }}</td>
                    <td>
                        <a href="{{ path('admin.property.edit', {id: property.id }) }}" class="btn btn-secondary"><i class="fas fa-edit"></i> Editer</a>
                        <form method="post" action="{{ path('admin.property.delete', {id: property.id}) }}" class="d-inline-block"
                        onsubmit="return confirm('Vous êtes sur le point de supprimer ce bien ! êtes-vous sur de vouloir le supprimer? ')">
                            <input type="hidden" name="_method" value="DELETE">
                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ property.id) }}">
                            <button class="btn btn-danger"><i class="fas fa-dumpster"></i> Supprimer</button>
                        </form>
                    </td>
                </tr>
             {% endfor %}
             </tbody>
         </table>
     </div>

 {% endblock %}