{%  extends 'base.html.twig' %}
{% block title 'Idologis | Tous nos bien' %}
 {% block body %}
     <div class="container-fluid mt-4">
         {{ form_start(form) }}
         <div class="form-row align-items-end">
             <div class="col">
                 {{ form_row(form.minSurface) }}
             </div>
             <div class="Col">
                 {{ form_row(form.maxPrice) }}
             </div>
             <div class="col">
                <div class="form-group">
                    <button class="btn btn-primary">Rechercher</button>
                </div>
             </div>
         </div>
         {{ form_end(form) }}
     </div>
     <div class="container">
         <div class="jumbotron text-center">
            <h3>Voir tous nos bien</h3>
         </div>
   <div class="row">
       {% for property in properties%}
           <div class="col-md-4">
               {%  include 'property/_property.hmtl.twig'%}
           </div>
       {% endfor %}
   </div>
         <div class="pagination">
             {{ knp_pagination_render(properties) }}
         </div>
     </div>

 {% endblock %}